BasedOnStyle: Chromium
AccessModifierOffset: -4
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true
ColumnLimit: 110
FixNamespaceComments: true
BinPackParameters: false
IndentCaseLabels: true
IndentWidth: 4
SortIncludes: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Left
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 2
TabWidth: 4
